<h1>Hospital Management</h1>
<%= link_to "New Doctor",new_doctor_path %>
<ul>
  <% @doctors.each do |doctor| %>
    <li>
      <a href="/doctors/<%= doctor.id %>">
        <%= doctor.name %>
      </a>
    </li>
  <% end %>
  </ul>