// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background: gray;
}

a:hover {
    color: green;
}

h1.appoiments {
    background: dodgerblue;
    text-align: center;
    padding: 25px 0px;
    color: white;
    font-family: fantasy;
    font-size: 50px;
}

table {
    margin: 0 auto;
    width: 75%;
}

tr {
    text-align: center;
}th {
    border-collapse: collapse;
    border: 2px solid black;
    width: 25%;
    padding: 20px 0px;
}

td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 20px 0px;
}

a {               
    margin: 0px 15px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

div.pagination {
    font-size: 22px;
    color: blue;
    padding-top: 30px;
}


h2.login {
    text-align: center;
    color: white;
    font-size: 35px;
    background: linear-gradient(
45deg, black, transparent);
    padding: 20px 0px;
    margin-top: -22px;
}



h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    background: dodgerblue;
    padding: 24px 0px;
}