// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background: gray;
    margin: 0 auto;
}

a:hover {
    color: green;
}
h1.appoiments {
    background: dodgerblue;
    text-align: center;
    padding: 5px 0px;
    color: white;
    font-family: fantasy;
    margin-top: 0px;
    font-size: 35px;
}
table {
    margin: 0 auto;
    width: 75%;
}
tr {
    text-align: center;
}
th {
    border-collapse: collapse;
    border: 2px solid black;
    padding: 20px 0px;
}
td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 20px 0px;
}
a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
div.pagination {
    font-size: 22px;
    color: blue;
    padding-top: 30px;
    text-align: center;
}
h2.login {
    text-align: center;
    color: white;
    font-size: 35px;
    background: linear-gradient(
45deg, black, transparent);
    padding: 20px 0px;
    margin-top: -22px;
}
h1 {
    color: white;
    font-size: 35px;
    text-align: center;
    background: dodgerblue;
    padding: 5px 0px;
    margin-top: 0px;
}
h2.log {
    text-align: center;
    background-color: dodgerblue;
    padding: 10px;
    margin: auto;
}

.user ,.form,.forgot{
    margin-left: 40%;
    margin-top: 5%;
    text-align: center;
    width: 20%;
    padding: 25px;
    background-color: olivedrab;
}

p.alert.alert-success {
    margin-top: -16px;
    display: none;
}
p.alert.alert-danger {
    display: none;
}
input.submit {
    border-end-start-radius: 5px;
}
input {
    margin-bottom: 10px;
}
fieldset {
    width: 36%;
    margin: auto;
    margin-top: 60px;
}
h2.signup {
    background: dodgerblue;
    text-align: center;
    padding: 5px 0px;
    color: white;
    font-family: fantasy;
    margin-top: 0px;
    font-size: 35px;
}
.new{
    margin: 70px;
}
.email {
    margin-right: 70%;
    margin-left: 15%;
}
.pass {
    margin-right: 61%;
    margin-left: 15%;
}
.rem {
    margin-right: 39%;
    margin-left: 12%;
    margin-bottom: 20px;
}
.in {
    margin-right: 49%;
}
.links {
    text-align: initial;
    margin-left: 15%;
}
h2.forgotpass {
    text-align: center;
    background: dodgerblue;
    padding: 10px;
    margin: auto;
}
