<h1>Appointments</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Date</th>
  </tr>
  <% @todays_appointments.each do |appointment| %>
    <tr> 
      <td><%= appointment.user.name %></td>&nbsp
      <td><%= appointment.address %></td>&nbsp
      <td><%= appointment.date %></td>&nbsp
    </tr>
  <% end %>
</table>
